<!DOCTYPE html>
<html lang="en">
<head>
    <title>Best Wine Ever</title>
    <link rel="icon" href="{{ url_for('static', filename='red_white.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='miniProject.css') }}">
</head>
<body>
    <div>
        <img style="margin-left:600px;"class="img1"src="{{ url_for('static', filename='red_white.jpg') }}" alt="">
    </div>
    
    <!--nav bar begins-->
    <nav>
        
        <a style="margin-right: 250px;" href="./miniProject.html">HOME</a>
        <div class="dropdown" style="display: inline-block;">
        <a style="margin-left: 90px;"href="winequality.html" style="margin:0px;">Wine Quality Test</a>
        </div>


    </nav>

    <!--nav bar ends-->

    <!--poster begins -->
    <div class="bg">
        <h1 class="poster">
        <marquee behavior="alternate" direction=""></marquee>
    </h1>
    </div>
    <!--poster ends-->
</body>
</html>